.recipeCard{
  position: relative;
  z-index: 1;
  height: 300px;
  width: 200px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  margin: 20px 25px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}

.recipeCardBottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 3px 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: left;
  align-items: center;
}

.recipeCardTitle{
  color: black;
  font-size: 20px;
  font-weight: 500;
}